.paginationButton {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 2px solid #84b6f4;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.paginationButton:hover {
  background-color: #84b6f4;
  color: white;
}

.paginationButton:disabled {
  border-color: #cccccc;
  color: #cccccc;
  cursor: not-allowed;
  background-color: transparent;
}

.pageNumber {
  margin: 0 16px;
  font-weight: 500;
  color: #555;
}

.tableRow:hover {
  background-color: #f5f5f5 !important; /* Color sutil para el hover */
  cursor: pointer;
}

/* Estilo para las filas pares (zebra striping) */
.tableRowAlternate {
  background-color: #faf8f5;
}

.tableHeader {
  background-color: #f0ebe5; /* Un tono ligeramente más oscuro que el fondo */
}

/* Estilo para el texto principal de las celdas */
.cellText {
  color: #555;
}

/* Estilo unificado para botones de acción en tablas */
.actionButton {
  background-color: #C19A6B !important; /* Usamos !important para sobreescribir MUI */
  color: white !important;
  font-weight: bold !important;
  text-transform: none !important; /* Evita que MUI ponga el texto en mayúsculas */
  border-radius: 4px !important;
  padding: 4px 10px !important; /* Ajustar tamaño */
text-transform: uppercase !important;
}

.actionButton:hover {
  background-color: #a5752b !important; /* Tono más oscuro para hover */
}

.actionButton:disabled {
  background-color: #cccccc !important;
  color: #888888 !important;
}
